@model IEnumerable<Cars.Service.Dtos.VehicleMakeDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <a asp-action="Create">Create New</a>
    <form method="post">
        <div>
            Find by name:
            <input type="text" style="width:200px;" class="form-control" placeholder="Car name" name="SearchString" maxlength="20" value="@ViewBag.SearchString"/>
            <button type="submit" asp-action="Search">Search</button>
        </div>
    </form>

</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortBy = ViewBag.NameSortParm })
            </th>

            <th>
                @Html.ActionLink("Abrv", "Index", new { sortBy = ViewBag.AbrvSortParm })
            </th>
            <th></th>
        </tr>


    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abrv)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    <a asp-controller="VehicleModel" asp-action="Index" asp-route-makeId="@item.Id" asp-route-searhString="">Models</a>



                </td>
            </tr>
        }
    </tbody>
</table>
<form>
    <a class="btn btn-dark float-left" asp-action="Previous" asp-route-currentPage="@ViewBag.CurrentPage" asp-route-searchString="@ViewBag.SearchString">Previous</a>
    <a class="btn btn-dark float-right" asp-action="Next" asp-route-currentPage="@ViewBag.CurrentPage" asp-route-searchString="@ViewBag.SearchString">Next</a>

</form>
